<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.bubbleroad.loader"
        version="1.0.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/loader.js" target="js/loader.js"/>

  <js-module src="www/loader.js" name="loader">
    <clobbers target="loader" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Loader">
        <param name="android-package" value="com.bubbleroad.toyhunt"/>
      </feature>
    </config-file>

    <source-file src="src/android/Loader.java" target-dir="src/com/bubbleroad/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Loader">
        <param name="ios-package" value="Loader" />
      </feature>
    </config-file>

    <header-file src="src/ios/Loader.h" target-dir="LoaderPlugin"/>
    <source-file src="src/ios/Loader.m" target-dir="LoaderPlugin"/>
  </platform>


</plugin>